
	<div class="content">
		<div class="row" >

			<img src="/img/spaza-sketch-col-copy-lores2-80276_573x187.jpg">
<h4>A spaza shop is an informal convenience shop business in South Africa, usually run from home.</h4>

<p>Since spaza shop owners could be experiancing problems on his/her business growth this app is developed to solve the paper work issue which almost impacts most businesses like business record sheets etc...</p>
<br>
 <p>By using this app you could track everything that could be having something to do with customer payments, business profits ,sales a lot more that could be useful for in order for the business to substain </p>

	</div>
</div>

<style type="text/css">
.main-menu {
  display: none;
}

</style>
