    <div class="col-sm-6" style="float:left">

        <table class="table table-bordered" id='reqCategoriesOutPut'>
    <thead class="label-info">
        <tr>
        <th><h3>category Name</h3></th>
        <th><h3>Manage</h3></th>
        </tr>
    </thead>
    {{#categoryName}} 
        <tbody>
            <tr>
        <td><div class="well well-lg" name="Category_name">{{Category_name}}</div></td>
        <td>
         <button type="button" class="btn btn-default" onClick="location.href='/productsCategories/edit/{{id}}'"><span class="glyphicon glyphicon-edit"></span> Edit</button>
     <button type="button" class="btn btn-danger" onClick="location.href='/productsCategories/delete/{{id}}'"><span class="glyphicon glyphicon-remove"></span>Remove
     </button>
        </td>
            </tr>
        </tbody>
    {{/categoryName}}
        </table>
    </div>
      