<h1>Edit</h1>

{{#data}}
<form action="/productsCategories/update/{{id}}" method="POST">
	Description: <input type="text" name="Category_name" value="{{Category_name}}" >	
	<input type="submit">
</form>
{{/data}}

<style type="text/css">
.main-menu {
	display: none;
}

</style>