{{#if isAuthenticated}}
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-circle" src="img/personas/PersonaNelisa.png" alt="">
                    <div class="intro-text">
                        <!-- <span class="name">Start Bootstrap</span> -->
                        <hr class="star-light">
                        <h3>Hello, {{user.name}}!</h3>
                        <br>

                        <span class="skills">Welcome to our Nelisa's spaza admin portal!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{{else}}
<a href="/login">Login here</a>
{{/if}}
<style type="text/css">
.main-menu {
    display: none;
}
.webdesigntuts-workshop {
    display: none;
}

</style>
