<form action="" class="register">
            <h1>Registration</h1>
            <fieldset class="row1">
                <legend>Account Details
                </legend>
                <p>
                    <label>Email *
                    </label>
                    <input type="text">
                    <label>Repeat email *
                    </label>
                    <input type="text">
                </p>
                <p>
                    <label>Password*
                    </label>
                    <input type="text">
                    <label>Repeat Password*
                    </label>
                    <input type="text">
                    <label class="obinfo">* obligatory fields
                    </label>
                </p>
            </fieldset>
            
            <fieldset class="row4">
                <legend>Terms and Mailing
                </legend>
                <p class="agreement">
                    <input type="checkbox" value="">
                    <label>*  I accept the <a href="#">Terms and Conditions</a></label>
                </p>
                <p class="agreement">
                    <input type="checkbox" value="">
                    <label>I want to receive personalized offers by your site</label>
                </p>
                <p class="agreement">
                    <input type="checkbox" value="">
                    <label>Allow partners to send me personalized offers and related services</label>
                </p>
            </fieldset>
            <div><button class="button">Register »</button></div>
        </form>