<div class="col-xs-10" style="float:right">
             <table class="table table-bordered" id="reqSumOfProductsEarning">
            <thead class="label-info">
        
                <tr>
                    <th><h3>Product Name</3></th>
                    <th><h3>Earnings Per Product</3></th>
                    <!-- <th><h3>Manage</3></th> -->
                </tr>
            </thead>
                    {{#searchSalesVals}} 
            <tbody>
                <tr>
                    <td><div name="Product_name" class="well well-lg">{{Product_name}}</div>
                    </td>
                    <td name="product_price">R{{Tot_Earnings_Per_Product}}
                    </td>
                    <!-- <td>
                     <button type="button" class="btn btn-default" onClick="location.href='/products/edit/{{id}}'"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                     <button type="button" class="btn btn-danger" onClick="location.href='/products/delete/{{id}}'"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                    </td> -->
                </tr>
            </tbody>
                    {{/searchSalesVals}}
        </table>
    </div>