<div class="col-sm-6">
    <table class="table table-bordered" id ="productNamesProfitsOutPutTd" >
        <thead class="label-info">
            <tr>
                <th><h3>Product Name</3></th>
                <th><h3>Product Profit</3></th>
            </tr>
        </thead>
                {{#productNAmeAsAResult}} 
        <tbody>
            <tr>
                <td name="Product_name"><div class="well well-lg" >{{Product_name}}</div>
                </td>
                <td name="product_price">R{{Profits}}
                </td>
            </tr>
        </tbody>
                {{/productNAmeAsAResult}}
    </table>
</div>