
<div class="wrapper">
  <div class="buttonWrapper">
    <div class="selected signIn">
      <h2>Sign In</h2>
    </div>
    <div class="signUp">
      <h2>Sign Up</h2>
    </div>
  </div>
  <form class="main">
    <label for="firstName">First Name</label>
    <input type="text" placeholder="First Name" id="firstName" name="firstName" required="required"/>
    <label for="lastName">Last Name</label>
    <input type="text" placeholder="Last Name" id="lastName" name="lastName" required="required"/>
    <label for="phoneNumber">Phone Number</label>
    <input type="tel" placeholder="Phone Number" id="phoneNumber" name="phoneNumber" required="required"/>
    <label for="emailAddress">E-Mail</label>
    <input type="email" placeholder="E-Mail" id="emailAddress" name="emailAddress" required="required"/>
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password" required="required"/>
    <button type="submit" name="signIn" id="subButton">Sign In</button>
    <button type="reset">Reset</button>
  </form>
</div>
