
<div class="wrapper">
  <div class="buttonWrapper">
    <div class="selected signIn">
      <h2>Sign In</h2>
    </div>
    <div class="signUp">
      <h2>Sign Up</h2>
    </div>
  </div>
  <form class="main">
    <label class="loginName" for="firstName">First Name</label>
    <input class="login"  type="text" placeholder="First Name" id="firstName" name="firstName" required="required"/>
    <label for="lastName">Last Name</label>
    <input class="login" type="text" placeholder="Last Name" id="lastName" name="lastName" required="required"/>
    <label for="phoneNumber">Phone Number</label>
    <input class="login" type="tel" placeholder="Phone Number" id="phoneNumber" name="phoneNumber" required="required"/>
    <label for="Your Username">E-Mail</label>
    <input class="login" type="email" placeholder="Username" id="Your Username" name="Your Username" required="required"/>
    <label for="password">Password</label>
    <input class="login" type="password" placeholder="Password" id="password" name="password" required="required"/>
    <button class="loginButton" type="submit" name="signIn" id="subButton">Sign In</button>
    <button class="loginButton" type="reset">Reset</button>
  </form>
</div>
