@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*body {
  font-family: Montserrat, 'Helvetica Neue', Arial, sans-serif;
  background: whitesmoke;
  background: -webkit-linear-gradient(white 40%, whitesmoke 0);
  background: linear-gradient(white 40%, whitesmoke 0);
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}*/

label {
  visibility: hidden;
  display: none;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

.wrapper {
  width: 23rem;
}

.buttonWrapper {
	/* display: -webkit-box; */
	/* display: -webkit-flex; */
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	color: white;
	margin-top: 32px;

}
.buttonWrapper .signIn, .buttonWrapper .signUp {
  padding: 0.75em 0.7em 0.5em;
  background: tomato;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
  opacity: 0.7;
  cursor: pointer;
}
.buttonWrapper .signIn:hover, .buttonWrapper .signUp:hover {
  opacity: 1;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: none;
          transform: none;
}
.buttonWrapper .signUp {
  background: turquoise;
}
.buttonWrapper .selected {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: tomato;
  padding: 0.5em 0.7em;
  padding-top: 0;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.main input:focus {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}
.main input, .main button {
  font-size: 0.8em;
  border: none;
  padding: 1em;
  margin-top: 1rem;
  outline-width: 0;
}
.main input:last-child, .main button:last-child {
  margin-bottom: 0.5rem;
}
.main button {
  color: white;
  background: rgba(100, 0, 100, 0.2);
}
.main button:hover {
  cursor: pointer;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
}
.main input {
  -webkit-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}
